# Django Settings
DEBUG=True
SECRET_KEY=django-insecure-@z+(*zrzjovq+j6a+s#9%te(_#%(w@z@vf6pr%f3-ba^y3avo*

# Gmail SMTP Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USE_TLS=True
SMTP_USER=saurabhmauryajnp28@gmail.com
SMTP_PASSWORD=your_gmail_app_password_here
CONTACT_EMAIL=saurabhmauryajnp28@gmail.com
