# Django Settings
DEBUG=True
SECRET_KEY=your_django_secret_key_here

# Resend Email API Configuration
RESEND_API_KEY=your_resend_api_key_here
CONTACT_EMAIL=saurabhmauryajnp28@gmail.com
RESEND_FROM_EMAIL=Portfolio <onboarding@resend.dev>

