# Django Settings
DEBUG=True
SECRET_KEY=your_django_secret_key_here

# Email / Gmail SMTP Configuration
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=saurabhmauryajnp28@gmail.com
EMAIL_HOST_PASSWORD=zeea oujb oolo cyin
CONTACT_EMAIL=saurabhmauryajnp28@gmail.com
